---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  pageTitle="Blog | Ethan Hawksley - Software Developer & CS Student"
  pageDescription="A technical blog by Ethan Hawksley. Articles featuring a variety of topics such as software engineering, computer science concepts, and more!"
>
  <h1>Blog</h1>
  <ul></ul>
</Layout>
