---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';

const allProjects = (await getCollection('projects')).sort((a, b) =>
  b.data.name < a.data.name ? 1 : -1,
);
---

<Layout
  pageTitle="Ethan Hawksley | Software Developer & CS Student"
  highlightedLink="home"
>
  <main>
    <section id="hero" aria-labelledby="hero-heading">
      <h1 id="hero-heading">Ethan Hawksley</h1>
      <p>
        Hi, I'm Ethan, a CS student at Alcester Grammar School. I build webapps,
        use Linux, and write Rust when performance matters.
      </p>
    </section>
    <SocialLinks />
    <section id="projects" aria-labelledby="projects-heading">
      <h2 id="projects-heading">Projects</h2>
      <div id="projects-grid">
        {
          allProjects.map((project) => (
            <ProjectCard
              name={project.data.name}
              description={project.data.description}
              sourceUrl={project.data.sourceUrl}
              liveUrl={project.data.liveUrl}
            />
          ))
        }
      </div>
    </section>
  </main>
  <style>
    main {
      max-width: 65ch;
      margin-inline: auto;
      padding-inline: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #hero {
      text-wrap: balance;
      margin-bottom: 0.5rem;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      text-decoration: #ff4f00 underline 6px;
      text-underline-offset: 0.5rem;
      line-height: 1.2rem;
      font-weight: 600;
      text-align: center;
    }

    p {
      text-align: center;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      line-height: 1.3rem;
      font-weight: 600;
      text-align: center;
    }
    #projects-grid {
      display: grid;
      column-gap: 0.75rem;
      row-gap: 0.75rem;
    }
    @media (min-width: 650px) {
      #projects-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
  </style>
</Layout>
