---
import External from '../assets/external.svg';
interface Props {
  href: string;
  rel?: string;
  style?: string;
  [key: string]: any;
}
const { href, rel, style, ...rest } = Astro.props;

function isExternal(linkHref: string) {
  const protocols = new Set(['http:', 'https:']);
  const hostnames = new Set([
    'hawksley.dev',
    'www.hawksley.dev',
    '127.0.0.1',
    'localhost',
  ]);
  const exactPaths = new Set(['/', '/404/', '/rss.xml/']);
  const pathPrefixes = new Set(['/blog/']);

  const url = new URL(linkHref, 'https://hawksley.dev');

  // Treat unknown protocols as internal
  if (!protocols.has(url.protocol)) return false;

  if (!hostnames.has(url.hostname)) return true;

  let path = url.pathname;
  if (!path.endsWith('/')) {
    path += '/';
  }

  if (exactPaths.has(path)) return false;

  for (const prefix of pathPrefixes) {
    if (path.startsWith(prefix)) return false;
  }

  return true;
}
const isExternalLink = isExternal(href);
---

<a
  href={href}
  rel={(isExternalLink ? 'noopener noreferrer ' : '') + (rel ?? '')}
  target={isExternalLink ? '_blank' : ''}
  style={style}
  {...rest}
>
  <slot />
  {isExternalLink && <External />}
</a>

<style>
  a {
    color: inherit;
    text-decoration: var(--color-accent) underline 2px;
    text-underline-offset: 0.25em;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    text-wrap: auto;
    gap: 0.15em;
  }

  a:hover {
    color: var(--color-accent);
  }

  a svg {
    transition: transform 0.2s ease-in-out;
    width: 0.75em;
    height: 0.75em;
    margin-right: -0.15em;
  }

  a:hover svg {
    transform: translate(2px, -2px);
  }
</style>
