---
import A from './A.astro';

const year = new Date().getFullYear();
---

<footer>
  <small>&copy; {year} Ethan Hawksley · <A href="/rss.xml">RSS</A></small>
</footer>

<style>
  footer {
    color: var(--color-text-muted);
    text-align: center;
  }

  small {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-normal);
  }
</style>
