---
import Email from '../assets/email.svg';
import Github from '../assets/github.svg';
import A from './A.astro';
---

<address>
  <A href="mailto:ethan@hawksley.dev" rel="me">
    <span>
      <Email class="email" aria-hidden="true" />
      ethan@hawksley.dev
    </span>
  </A>
  <A href="https://github.com/ethan-hawksley" rel="me">
    <span>
      <Github class="github" aria-hidden="true" />
      ethan-hawksley
    </span>
  </A>
</address>

<style>
  address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @media (min-width: 480px) {
    address {
      flex-direction: row;
      gap: 1rem;
    }
  }

  address > a {
    min-width: 13rem;
    padding: 0.25rem;
  }

  span {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  address :global(a:active) {
    transform: scale(0.96);
  }
</style>
