---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
  pageTitle: string;
  highlightedLink: string | undefined;
}
const { pageTitle, highlightedLink } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script is:inline>
      function getCurrentTheme() {
        const localTheme = localStorage.getItem('theme');
        if (localTheme) {
          return localTheme;
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      }
      let theme = getCurrentTheme();
      document.documentElement.classList.toggle('dark', theme === 'dark');
    </script>
  </head>
  <body>
    <div id="page">
      <Navigation highlightedLink={highlightedLink} />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    font-size: 1rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
</style>
<style>
  html {
    background-color: #fafafa;
    color: #1a1a1a;
    transition:
      background-color 250ms ease-out,
      color 250ms ease;
  }

  html.dark {
    background-color: #0f0f0f;
    color: #ededed;
  }

  #page {
    max-width: 800px;
    margin-inline: auto;
  }
</style>
